# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# VSCode settings (optional)
.vscode/

# macOS stuff (optional)
.DS_Store

# Environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/
